@import './swiper.scss';

.brand-slide__block--large {
    height: 160px;
}

.brand-slide__text {
    font-family: 'TT Lakes Medium';
    font-weight: 600;
    font-size: 16px;
    color: #1B1C21;
    margin-bottom: auto;
}

.brand-slide__link--margin-top--more {
    margin-top: auto;
    margin-bottom: 16px;
}